*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto;
    text-align: center;
    color: #fff;  
    
    
}

input, select, option{
    color:black
}



#myRange{
    padding:0;
}

body{
    background-image: linear-gradient(to bottom right, magenta, blue, red);
    height:100vh;
    padding:50px;
}

#exchange-container{
    /*height:auto;*/
    /*border-width: 10px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;*/
    margin-top: 75px
}

#swap-range-container{
    display:inline-flex;
    justify-content: space-between;
    margin-top: 10px;
}



body { padding: 50px; }
