*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh;
    margin: auto;
    text-align: center;
    color: #fff;  
    
    
}

select{
    border-radius: 10px;
}

input, select, option{
    color:black
}

#amount-input{
    border-radius: 10px;
    outline:none;
    border-width: 0;
}



#myRange{
    padding:0;
}

body{
    background-image: linear-gradient(to bottom right, magenta, blue, red);
    height:100vh;
    padding:50px;
}

#exchange-container{
    
    margin-top: 75px
}



#swap-range-container{
    display:inline-flex;
    justify-content: space-between;
    margin-top: 0px;
}

#second-line{
    margin-top:20px
}



